@use "sass:map";
// MIXINS ////////////////////////

/* main wrapper */
@mixin wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: $wrapper-min-width;
    max-width: $wrapper-max-width;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* break points */
/* FONT NAVBAR AND FOOTER - LARGE SCREENS */

@mixin media-query($key) {
    $size: map-get($breakpoints, $key);

    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin banner-bridge-query {
    @media screen and (min-width: 375px) and (max-width: 423px) {
        width: 75%;
        font-size: map-get($font-sizes, size-banner-md);
    }
}

@mixin font-lg-screen {
    font-size: map.get($font-sizes, size-4);
    text-decoration: none;
}

@mixin breakpoint-mobile-m {
    @media screen and (min-width: map.get($breakpoints, mobile-m)) {
        @content;
    }
}

@mixin breakpoint-mobile-l {
    @media screen and (min-width: map.get($breakpoints, mobile-l)) {
        @content;
    }
}

@mixin breakpoint-desktop {
    @media screen and (min-width: map.get($breakpoints, desktop)) {
        @content;
    }
}