@use "../../styles/main.scss";
@use "sass:map";

.error {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 496px;

    @include main.media-query(xl) {
        min-height: 618px;
    }

    &__type {
        font-size: map.get(main.$font-sizes, size-error-404);
        color: map.get(main.$colors, brand-clr);
        font-weight: 700;
        line-height: 100%;
        width: 100%;

        @include main.media-query(sm) {
            font-size: map.get(main.$font-sizes, size-error-404);
        }

        @include main.media-query(md) {
            font-size: map.get(main.$font-sizes, size-error-404-md);
        }

        @include main.media-query(xl) {
            font-size: map.get(main.$font-sizes, size-7);
        }
    }

    &__message {
        font-size: map.get(main.$font-sizes, size-3);
        color: map.get(main.$colors, brand-clr);
        line-height: 110%;
        width: 100%;

        &-wrapper-sm {
            display: flex;
            flex-direction: column;
        }
    
        &-wrapper-sm>span:first-child {
            margin-bottom: -15px;
        }

        @include main.media-query(md) {
            font-size: map.get(main.$font-sizes, size-4);
            max-width: 100%;
        }

        @include main.media-query(xl) {
            font-size: map.get(main.$font-sizes, size-5);
            max-width: 100%;
        }
    }

    &__link {
        color: map.get(main.$colors, black-clr);
        text-decoration: underline;
        line-height: 146%;

        @include main.media-query(sm) {
            font-size: map.get(main.$font-sizes, size-2);
        }

        @include main.media-query(xl) {
            font-size: map.get(main.$font-sizes, size-3);
        }
    }
}
