@use "../../styles/main.scss";
@use "sass:map";

.collapse > * + * {
    margin-bottom: 1.188rem;

    @include main.media-query(md) {
        margin-bottom: 2.375rem;
    }
}

.collapse__header {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    color: white;
    line-height: 100%;
    padding-left: 20px;
    margin: 0;
    background-color: map.get(main.$colors, brand-clr);

    & {
        @include main.media-query(sm) {
            font-size: map.get(main.$font-sizes, size-1);
            height: 1.875rem;
        }

        @include main.media-query(md) {
            font-size: map.get(main.$font-sizes, size-3);
            height: 3.25em;
            border-radius: 10px;
        }

        @include main.media-query(lg) {
            font-size: map.get(main.$font-sizes, size-2);
            height: 52px;
        }
    }

    &--btn {
        margin-right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        @include main.media-query(sm) {
            width: 32px;
            height: 1.875rem;
            margin-right: 10px;
        }

        @include main.media-query(md) {
            width: 80px;
            height: 40px;
            margin-right: 5px;
        }
    
        & svg {
            width: 80px;
            height: 40px;
            fill: white;
            padding: auto;
            transition: -webkit-transform 0.4s ease;
            transition: transform 0.4s ease;

            @include main.media-query(sm) {
                width: 30px;
                height: 30px;
            }
            
            @include main.media-query(md) {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.collapse__view--wrapper {
    z-index: -2;
    position: relative;
    top: -10px;
    left: 0;
    width: inherit;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:rgba(246, 246, 246, .45);

    @include main.media-query(md) {
        padding: 20px 20px 20px 20px;
    }

    @include main.media-query(lg) {
        padding: 20px;
    }
}

.collapse__view—wrapper-content {
    color: map.get(main.$colors, black-clr);
    line-height: 142.6%;
    text-align: justify;
    word-spacing: -0.025rem;
    white-space-collapse: break-spaces;
    word-break: keep-all;
    line-break: strict;
    padding: 23px 20px 15px 20px;

    @include main.media-query(sm) {
        font-size: map.get(main.$font-sizes, size-1);
    }

    @include main.media-query(md) {
        font-size: map.get(main.$font-sizes, size-3);
        width: 100%;
    }

    @include main.media-query(lg) {
        font-size: map.get(main.$font-sizes, size-3);
    }
}

.viewer-hidden {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.rotate {
    transform: rotate(180deg);
}