@use "../../styles/main.scss";
@use "sass:map";

.collapse > * + * {
    // background-color: grey;
    margin-bottom: 1.188rem;

    @include main.media-query(md) {
        margin-bottom: 2.375rem;
    }
}

.collapse__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    color: white;
    line-height: 100%;
    padding-left: 20px;
    margin: 0;
    background-color: map.get(main.$colors, brand-clr);

    & {
        @include main.media-query(sm) {
            font-size: map.get(main.$font-sizes, size-1);
            height: 1.875rem;
        }

        @include main.media-query(md) {
            font-size: map.get(main.$font-sizes, size-3);
            height: 3.25em;
        }
    }

    &--btn {
        margin-right: 20px;
        background-color: transparent;
        // background-color: grey;
        border: none;
        cursor: pointer;

        @include main.media-query(sm) {
            width: 32px;
            height: 1.875rem;
            margin-right: 10px;
            // background-color: grey;
        }

        @include main.media-query(md) {
            width: 80px;
            height: 40px;
            margin-right: 5px;
            // background-color: grey;
        }
    
        & svg {
            width: 80px;
            height: 40px;
            fill: white;
            padding: auto;
            transition: -webkit-transform 0.4s ease;
            transition: transform 0.4s ease;
            // background-color: bisque;

            @include main.media-query(sm) {
                width: 30px;
                height: 30px;
            }
            
            @include main.media-query(md) {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.collapse__view--wrapper {
    height: inherit;
    width: inherit;
    border-radius: 5px;
    background-color:rgba(246, 246, 246, .5);

    &-content {
        color: map.get(main.$colors, black-clr);
        padding: 20px 0 20px 20px;
        line-height: 142.6%;
        text-align: justify;
        word-spacing: -0.025rem;
        white-space-collapse: break-spaces;
        word-break: keep-all;
        line-break: strict;

        & {
            @include main.media-query(sm) {
                font-size: map.get(main.$font-sizes, size-1);
                padding: 20px;
            }

            @include main.media-query(md) {
                font-size: map.get(main.$font-sizes, size-3);
                width: 50%;
                padding: 20px 0 20px 20px;
            }
        }
    }
}

.rotate {
    transform: rotate(180deg);
}