@use "../../styles/main.scss";

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include main.media-query(sm) {
        margin: 1.25em 1.25em 0 1.25em;
        gap: 15px;
    }

    @include main.media-query(md) {
        margin: 45px 5.868% 0 5.868%;
        gap: 40px;
    }

    @include main.media-query(lg) {
        margin: 45px 5.868% 0px 5.868%;
        gap: 45px;
    }

    @include main.media-query(xl) {
        gap: 50px;
    }
}