@use "../../styles/main.scss";
@use "sass:map";

.navbar-container {
    width: 100%;
    max-width: 1240px;
    display: flex;
    align-content: center;
    justify-content: space-between;

    @include main.breakpoint-desktop {
            height: 68px;           
        }

    & h1 {
        width: 100%;
    }

    &__logo {
        max-width: 145px;
        height: 47px;

        @include main.breakpoint-desktop {
            max-width: 211px;
            height: 68px;
        }
    }
}

.navbar-container__navbar  {
    font-weight: 500;
    display: flex;
    align-items: center;
    place-content: flex-end;
    width: 100%;
        
    .navbar__link  {
        color: black;
        cursor: pointer;

        &.active {
                text-decoration: underline;
            }
        
        @include main.breakpoint-mobile-m {
            font-size: map.get(main.$font-sizes, size-1);
            text-transform: uppercase;
            
            &.navbar__link:first-child {
                    margin-right: 13px;
                }
            }
        @include main.breakpoint-mobile-l {
            font-size: map.get(main.$font-sizes, size-2);

            &.navbar__link:first-child {
                    margin-right: 30px;
                }
        }
        @include main.breakpoint-desktop {
            font-size: map.get(main.$font-sizes, size-4);
            text-transform: lowercase;
            text-transform: capitalize;

            &.navbar__link:first-child {
                    margin-right: 80px;
                }
        }  
    }       
}