@use "../../styles/main.scss";

.banner {
    position: relative;
    width: 100%;

    &__img {
        height: map-get(main.$responsive-height, sm);
        border-radius: 10px;
        filter: brightness(60%);

        @include main.media-query(md) {
            border-radius: 25px;
            height: map-get(main.$responsive-height, lg);
        }
    }

    &__title {
        // background-color: olive;
        color: white;
        font-size: map-get(main.$font-sizes, size-4);
        font-weight: 500;
        line-height: 100%;
        // width: 75%;
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 1em;

        @include main.banner-bridge-query;

        @include main.media-query(sm-lg) {
            left: 0;
            width: 100%;
            text-align: center;
            font-size: map-get(main.$font-sizes, size-4);
            // background-color: blue;
        }
        
        @include main.media-query(banner-break-md) {
            left: 0;
            text-align: center;
            width: 100%;
            font-size: map-get(main.$font-sizes, size-banner-md);
            // background-color: red;
        }

        @include main.media-query(banner-break-lg) {
            font-size: map-get(main.$font-sizes, size-banner-md);
            // background-color: yellow;
        }

        @include main.media-query(md) {
            font-size: map-get(main.$font-sizes, size-5);
            // background-color: purple;
        }

        @include main.media-query(banner-break-lg) {
            font-size: map-get(main.$font-sizes, size-6);
            // background-color: orange;
        }
    }
}