@use "../../styles/main.scss";

// $responsive-height: 223px;
// $banner-img-height: $responsive-height;

.banner {
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: center;
    // height: 233px;
    // width: 100%;
    // max-width: 1240px;
    // margin: 45px 0 0 0;
    color: white;

    @include main.breakpoint-mobile-m {
        // align-content: flex-start;
        height: map-get(main.$responsive-height, sm);
        // background-color: red;
    }

    @include main.breakpoint-mobile-l {
        font-size: map-get(main.$font-sizes, size-2);
        // align-items: center; 
        // background-color: orange;
    }

    @include main.breakpoint-desktop {
        height: map-get(main.$responsive-height, lg);
        font-size: map-get(main.$font-sizes, size-6);
        width: 100%;
        max-width: 1240px;
        justify-content: center;
        // background-color: purple;
    }

    .banner__img {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 25px;
        filter: brightness(33%);
        z-index: -1;

        @include main.breakpoint-mobile-m {
            height: map-get(main.$responsive-height, sm);
            border-radius: 10px;
        }
        @include main.breakpoint-desktop {
            height: map-get(main.$responsive-height, lg);
            border-radius: 25px;
            box-shadow: 0px 4px 15px #F6F6F6;
        }
    }

    .banner__title {
        position: absolute;
        font-weight: 600;
        z-index: 1;

        @include main.breakpoint-mobile-m {
            font-size: map-get(main.$font-sizes, size-4);
            max-width: 225px;
            margin-left: 20px;
        }
        
        @include main.breakpoint-mobile-l {
            font-size: map-get(main.$font-sizes, size-4);
            max-width: 230px;
        }
    
        @include main.breakpoint-desktop {
            max-width: 100%;
            margin: auto;
            font-size: map-get(main.$font-sizes, size-5);
        }
    }
}